.ShoppingCartItem img {
    width: 70px;
    height: 70px;
    object-fit: cover;  
}

.ShoppingCartItem h2.title {
    grid-area: title;
    margin-left: 32px;
}

.ShoppingCartItem div.description {
    grid-area: description;
    margin: 0 32px;
}

.ShoppingCartItem .price {
    grid-area: price;
}

.ShoppingCartItem Button {
    grid-area: delete;
}

.ShoppingCartItem div{
    display: flex;
    flex-direction: column;
}

.ShoppingCartItem {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
      "img title price"
      "img description ."
      "img description delete";
    border-bottom: 2px solid rgb(221, 221, 221);
    align-items: center;
    padding-bottom: 10px;
    margin-top: 12px;
}

.ShoppingCartItem:last-child {
    border: none;
}

.ShoppingCartItem a {
    color: black;
    text-decoration: none;
    grid-area: img;
    justify-self: center;
}
