.PageShoppingCart .main ul {
  margin: 32px 0px;
}

.PageShoppingCart h1.title{
  margin-top: 32px;
  text-align: center;
}

.PageShoppingCart .information {
  margin: 64px 64px;
}

.PageShoppingCart div.x {
  display: flex;  
  flex-direction: flex;
  justify-content: center;
}

.PageShoppingCart div.y {
  display: flex;  
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
}