.PageProduct div.Center  img {
  width: 50%;
  height: 500px;
  object-fit: cover;
  margin-right: 64px;
}

.PageProduct h1 {
  margin-bottom: 12px;
}

.PageProduct div.Center {
  padding: 0 32px;
  margin: 64px auto;
  max-width: 900px;
  display: flex;
}

.PageProduct div.Center p {
  margin-bottom: 24px;
}

.PageProduct .Buy {
  text-align: center;
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 10px;
  transition: all 100ms ease-in-out;
}


.PageProduct .Buy:hover {
  opacity: 0.8;
}
