.PageProduct div.Center  img {
  width: 50%;
  height: 500px;
  object-fit: cover;
  margin-right: 100px;
  transition: all 1000ms ease-in-out;
}

.PageProduct h1 {
  margin-bottom: 12px;
}

.PageProduct div.Center {
  padding: 0 32px;
  margin: 64px auto;
  max-width: 900px;
  display: flex;
}

.PageProduct div.Center p {
  margin-bottom: 24px;
}

.PageProduct .Button {
  width: 100%;
}

@media only screen and (max-width: 800px){
  .PageProduct div.Center {
    flex-direction: column;
  }
  .PageProduct div.Center img{
    width: 100%;
    margin-bottom: 64px;
  }

}
