.PageHome {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "navbar navbar"
    "sidebar article"
    "footer footer";
  min-height: 100vh;
}