@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

:root {
  --color-primary: #f5492b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Fjalla One', serif;
  font-weight: 300;
}



/* > * {
  animation-name: looool2;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-timing-function: cubic-bezier(.98,0,.98,.08);
  animation-duration: 60s;
}


@keyframes looool2 {
  0% {
    transform: rotate3d(0.2, 0.4, 0.6, 0deg);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate3d(0.2, 0.4, 0.6, 70deg)
  }
}*/